<p-toolbar>
    <button pButton pRipple type="button" icon="pi pi-home" class="p-button-rounded p-button-info marg"
            pTooltip="Go to Resources Filter" routerLink="/resources"></button>

    <button pButton pRipple type="button" icon="pi pi-sign-out" class="p-button-rounded p-button-info marg"
            pTooltip="Logout" (click)="authService.logout()"></button>
</p-toolbar>
<br>

<p-table *ngIf="service.houselist.length>0" [value]="service.houselist" styleClass="p-datatable-striped"
         selectionMode="single" responsiveLayout="scroll" [rows]="10" [totalRecords]="100"
         [rowsPerPageOptions]="[10,25,50]"
         [paginator]="true" [filterDelay]="0">

    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            List of Houses
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="min-width: 20%">
                <div>Name
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </div>
            </th>
            <th style="min-width: 20%">
                <div>Region
                    <p-columnFilter type="text" field="region"></p-columnFilter>
                </div>
            </th>
            <th style="min-width: 40%">
                <div>Coat of arms
                    <p-columnFilter type="text" field="coatOfArms"></p-columnFilter>
                </div>
            </th>
            <th style="min-width: 20%">
                <div>Words
                    <p-columnFilter type="text" field="words"></p-columnFilter>
                </div>
            </th>
            <th style="min-width: 10%"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-house>
        <tr>
            <td>{{house.name}}</td>
            <td>{{house.region}}</td>
            <td>{{house.coatOfArms}}</td>
            <td>{{house.words}}</td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-search" pTooltip="See House details"
                        tooltipPosition="left" class="p-button-rounded" (click)="goToDetailsView(house)">
                </button>
            </td>
        </tr>
    </ng-template>
    <!--
    <p-paginator [rows]="10" [totalRecords]=100 [rowsPerPageOptions]="[10,20,30]"></p-paginator>
-->
</p-table>