<div class="login">
    <div class="login-header">
      <h1>Login</h1>
    </div>
    <div class="login-form">
      <h3>Username:</h3>
      <input type="text" placeholder="Username" [(ngModel)]="user.username" /><br>
      <h3>Password:</h3>
      <input type="password" placeholder="Password" [(ngModel)]="user.password" />
      <br>
      <input type="button" value="Login" class="login-button" (click)="login()" />
      <br>
  
    </div>
  </div>
  
  
  <!-- ************************************** Authorization  ************************************** -->
  <p-dialog header="Authorization Error" [(visible)]="authService.displayInvalid" [modal]="true" [responsive]="true">
    <span >
      <i class="pi pi-exclamation-triangle" style="color:red"></i>
      The username or Password you entered is incorrect. Please try again!
    </span>
  </p-dialog>